
.card-title {
	font-size: 20px;
}

.card-row {
	display: flex;
}

.card-label {
	margin-top: 10px;
	opacity: .6;
	width: 60px;
}

.name-row {
	display: flex;
	width: 100%;
}

.name-row-first {
	width: 40%;
}

.name-row-middle {
	width: 20%;
}

.name-row-last {
	width: 40%;
}

.input-full-width {
	width: 100%;
}

.card-actions {
	display: flex;
	justify-content: flex-end;
}

md-spinner {
  float:right; 
  width: 24px; 
  height: 24px; 
  margin: 5px 10px 0px 0px;
}

.title-row {
	display: flex; 
	justify-content: space-between; 
	flex-direction: row; 
	width: 100%;
}

.title-icon {
	margin: 10px; 
	opacity: .6;
}