<td-layout-nav-list #navList 
	logo="" 
	toolbarTitle="Menu"
	[opened]="media.registerQuery('gt-sm') | async"
    [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '350px' : '100%'"
    >
  <md-nav-list td-sidenav-content (click)="!media.query('gt-sm') && navList.close()">
    <a md-list-item [routerLink]="['/home']">
      <md-icon md-list-avatar> home </md-icon>
      <h3 md-line> Home </h3>
      <p md-line> Home Page </p>
    </a>
    <md-divider md-inset></md-divider>
    <a md-list-item [routerLink]="['/employees']">
      <md-icon md-list-avatar> group </md-icon>
      <h3 md-line> Employees </h3>
      <p md-line> View Employees </p>
    </a>
    <md-divider md-inset></md-divider>
    <a md-list-item [routerLink]="['/jobs']">
      <md-icon md-list-avatar>view_quilt</md-icon>
      <h3 md-line> Jobs </h3>
      <p md-line> View Jobs </p>
    </a>
  </md-nav-list>

  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Airlink</span>
    <span flex></span>
  </div>

  <md-card>
  	<router-outlet></router-outlet>
  </md-card>
</td-layout-nav-list>