<md-card>
	<md-card-header>
		<div class="title-row">
			<md-card-title>
				<div class="card-title" [ngSwitch]="isNewJob()">
					<p *ngSwitchCase="true">Create Job</p>
					<p *ngSwitchCase="false">Edit Job</p>
				</div>		
			</md-card-title>		
			<span flex></span>		
			<a md-icon-button class="title-icon" *ngIf="!isNewJob()" (click)="formDelete()">
				<md-icon>delete</md-icon>
			</a>
		</div>
	</md-card-header>
	<md-card-content>
		<form novalidate [formGroup]="jobForm" (ngSubmit)="onSubmit()">
			<div class="card-row" >
				<label class="card-label" for="name">
					<md-icon> work </md-icon>
				</label>
				<md-input-container class="input-full-width">
					<input mdInput id="name" name="name" placeholder="Job Name"
					  	formControlName="name">
					<md-hint *ngIf="!jobForm.controls['name'].pristine 
					  	&& !jobForm.controls['name'].valid"  
					    [ngStyle]="{'color': 'red'}" align="start">Invalid Name</md-hint>
				</md-input-container>				
			</div>
			<div class="card-row" >
				<label class="card-label" for="description">
					<md-icon> description </md-icon>
				</label>
				<md-input-container class="input-full-width">
					<input mdInput id="description" name="description" placeholder="Job Description"
					  	formControlName="description">
				</md-input-container>
			</div>
			<div class="card-row" >
				<label class="card-label" for="numberNeeded">
					<md-icon> group </md-icon>
				</label>
				<md-input-container class="input-full-width">
					<input mdInput id="numberNeeded" name="numberNeeded" placeholder="Number Needed"
					  	formControlName="numberNeeded">
				</md-input-container>				
			</div>						

            <div class="card-actions">
           		<button md-button *ngIf="loading">
				  <md-spinner></md-spinner>
				</button>
				<!--
				<a md-raised-button color="warn" *ngIf="!isNewJob()" (click)="formDelete()">Delete</a>-->

				<a md-button (click)="formReset()">Cancel</a>
				<a md-button type="submit" [disabled]="jobForm.invalid" (click)="onSubmit()">Save</a>
    		</div>			
		</form>

	</md-card-content>
</md-card>

<md-card>
	<md-card-content>
		<div>
			<h2>Jobs</h2>
		</div>
		<div class="search-row" >
			<md-icon class="search-icon" >search</md-icon>
			<td-search-input  
				class="search-box"
				placeholder="Search jobs" 
				[showUnderline]="true" 
				[debounce]="500" 
				(searchDebounce)="search($event)"
				(clear)="searchInputTerm = ''">
			</td-search-input>
		</div>
		<td-data-table
		  [data]="filteredData"
		  [columns]="columns"
		  [selectable]="selectable"
		  [multiple]="multiple"
		  [sortable]="true"
		  [sortBy]="sortBy"
		  [(ngModel)]="selectedRows"
		  [sortOrder]="sortOrder"
		  (sortChange)="sort($event)"
		  (rowSelect)="selectEvent($event)">
		</td-data-table>
	</md-card-content>
	<!-- This padding is for the pagination footer -->
	<md-card-actions style="padding-bottom: 36px;">
		<td-paging-bar #pagingBar [pageSizes]="[5, 10, 15, 20]" [total]="filteredTotal" (change)="page($event)">
		  <span td-paging-bar-label hide-xs>Row per page:</span>
		  {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
		</td-paging-bar>
	</md-card-actions>
</md-card>
